*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    font-family: 'Goldman', sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}

body {
    background: url('https://interns2024.pages.dev/game/img/ending.webp');
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh
}

.ending {
    max-width: 1240px;
    margin: 0 auto;
}

.mobile {
    display: none;
}

.mobile nav {
    padding: 30px 0;
}

.mobile h1 {
    color: #fff;
    text-align: center;
    font-size: 30px;
    position: relative;
}

.mobile .dialogue {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 90%;
    padding: 20px;
    text-align: center;
    color: #fff;
}

.mobile img {
    text-align: center;
}

@media only screen and (max-width: 1300px) {
    body {
        background: url('https://interns2024.pages.dev/game/img/story.webp');
        background-position:  center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .mobile {
        height: 100vh;
        display: block;
    }
    .ending {
        display: none;
    }
    canvas {
        display: none;
    }
    .mobile h3 {
        font-size: 30px;
    }
    .mobile p {
        margin-top: 15px;
        font-size: 20px;
    }
}

nav {
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    color: #fff;
}

nav ul li:first-child {
    font-size: 40px;
}

nav ul li:last-of-type {
    float: right;
    margin-top: 10px;
}

nav ul li {
    margin-right: 20px;
}

main {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

main video {
    width: 75%;
    margin: 0 auto;
}

main button {
    padding: 15px 20px;
    cursor: pointer;
    color: #fff;
    width: 75%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #000;
    font-size: 20px;
    border: 3px solid #fff;
}

.ending,
.win,
.lose {
    display: none;
}
